@model News

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a style="font-size:30px" class="nav-link text-dark text" asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <p class="nav-link text-dark text">Hi, @User.Identity?.Name!</p>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Admin" asp-action="Index">
                                <input class="nav-link text-dark btn" style="box-shadow:none" type="submit" value="Post List" />
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Roles" asp-action="Index">
                                <input class="nav-link text-dark btn" style="box-shadow:none" type="submit" value="Roles" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <form asp-controller="Admin" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" id="my-data" asp-for="FullText" />
        <div class="form-group">
            <label asp-for="Title" class="control-label">Post Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Post Text</label>
            <textarea name="text" id="editor"></textarea>
        </div>
        <div class="form-group">
            <label for="generalImage">Download image:</label>
            <input type="file" id="generalImage" name="generalImage" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
    <script src="~/js/edit.js"></script>
</body>
</html>