@model string

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a style="font-size:30px" class="nav-link text-dark text" asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <p class="nav-link text-dark text">Hi, @User.Identity?.Name!</p>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Admin" asp-action="Index">
                                <input class="nav-link text-dark btn" style="box-shadow:none" type="submit" value="Post List" />
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Roles" asp-action="Index">
                                <input class="nav-link text-dark btn" style="box-shadow:none" type="submit" value="Roles" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">New Role</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
</body>
</html>