* {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
.card-body {
    display: flex;
}

.card-img-left {
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

    .card-text small {
        color: #999;
    }

.col-md-4 {
    flex: 0 0 31%; /* Set flex basis to 33.333% for a three-column layout */
    max-width: 31%;
    box-sizing: border-box; /* Include padding and border in the box model */
    padding-right: 15px; /* Add right padding to account for negative margin in the row */
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5%;
    margin-left: -1.5%;
}