* {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/**/
.card-body {
    display: flex;
}

.card-img-left {
    max-width: 200px;
    margin-right: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

    .card-text small {
        color: #999;
    }

.btn-primary {
    border: none;
}

.col-md-4 {
    margin: 5px;
}
